.content{
  display:  flex;
  padding: 2.9375rem 12.5rem 2.9375rem 1rem;
  flex-direction: column;
  gap: 15px;
}



.content> p {
  font-size: 16px;
  
}

.content>h3{
  font-size: 24px;
  font-weight: 400;
  left: 10px;
  color: var(--text-table);
}



@media (max-width: 1025px){
  .content {
    width: 100%;
    padding: 2.9375rem 2.625rem;
    /* flex-direction: column; */
    gap: 5px;
  }

}

/* -----------OPEN CARD------------ */
.cardOpen{
  display: flex;
  justify-content: flex-end;
  right: 8rem;
}
.contentIcon{
  background-color: var(--gray-10);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 2rem;
}
.openIcon{
  margin: 12px;
}


/* -----------PAID CARD------------ */

.contentIconPaid{
  background-color: var(--backgroud-icon);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 2rem;
}

/* -----------Vencido CARD------------ */

.openIconVencido{
  background-color: var(--backgroud-danger);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin: 2rem;
}


