.content{
  margin: 2.5rem 12rem;
  display:  flex;
}

.content >.title {
  display: flex;
  flex-direction: column;

  color: var(--second-blue);
  gap: 25px;
}


/* .content >.icon{
    background-color: var(--backgroud-icon);
    border-radius: 50px;
} */

.content > .title > p {
  font-size: 14px;
  text-align: left;
}

.title>h3{
  font-size: 24px;
  font-weight: 400;
  left: 10px;
  color: var(--text-table);
}

@media (max-width: 1025px){
  .sessionSpace {
    width: 100%;
  }
}
