.header {
  background-color: var(--first-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 119.95px;
}

.sessions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 15rem;
}

.firstSession {
  display: flex;
  flex-direction: column;
  gap: 10px;
  
}

.firstSession>h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  color: var(--second-blue);
  text-transform: capitalize;
}

.firstSession>p {
  color: var(--first-blue);
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
}

.SecondSession {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  box-shadow: 4px 4px 50px 4px #00000026;
  height: 524px;
  width: 632px;
  gap: 5px;
  border-radius: 20px;
  padding: 5rem;
}

.SecondSession>h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
  color: var(--second-blue);
}

.SecondSession>p {
  color: var(--first-blue);
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;

}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 3rem;

}

.inputs {
  display: flex;
  gap: 1rem;
  padding: 10px 10px 10px 10px;
  border-radius: 25px;
  border: 2px solid var(--first-blue);
  font-size: 24px;
  font-weight: 400;
}

.inputs>input {
  border: none !important;
  outline: none;
  font-size: 20px;
}

.inputs>input::placeholder {
  color: var(--first-blue);
  font-size: 20px;
  font-weight: 500;
  /* line-height: 30px; */
}

.inputs>input:focus::-webkit-input-placeholder {
  opacity: 0.5;
}

.icon{
  color: var(--first-blue);
}


.enterBtn {
  background-color: var(--first-blue);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 50px 18px 50px;
  border-radius: 25px;
  border: none;
  font-size: 20px;

}

@media (max-width: 1025px){
  .container{
      background-color: var(--first-blue);
      width: 100%;
  }

  .logo{
    height: 150px;
    width: 150px;
  }

  .sessions{ 
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
  
  }

  .firstSession {
    align-items: center;
    gap: 2px;
    display: none;
  }

  .SecondSession{
    margin-top: 5rem;
    width: 100%;
    height: 61vh;
    padding: 3rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .SecondSession > h3{
    font-size: 30px;
  }
  .SecondSession > p{
    font-size: 25px;
  }

  .inputs>input{
    font-size: 15px;
  } 

  .form{
  gap: 2rem;
  }

}