.container {
    background-color: var(--first-blue);
    height: 115.94px;
    padding: 0px 150px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.menuItens {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 53px;
}


.menuItens, .sairBtn {
    user-select: none;
    display: flex;
   
}


.blur{
    height: 65%;
    backdrop-filter: blur(15px);
}



.menuItens > button,.sairBtn>button {
    text-decoration: none;
    border: none !important;
    background-color: transparent !important;

    font-size: 28px;
    font-weight: 400;
    line-height: 20px;

    color: var(--white);
    cursor: pointer;
}

.menuItens>button:hover, .sairBtn>button:hover{
    color: var(--search);
    transition: all 0.4s;
}

.sairBtn {
    display: flex;
    gap: 15px;
    padding: 0px 82px 0px 0px;
}

.menuIcon{
    display: none;
}

@media (max-width: 1025px) {
    .container{
        width: 100%;
        padding: 15px 15px;;
        
    }
    .menuItens, .sairBtn{
        display:  none;
    }

    .menuIcon{
        display: block;
        cursor: pointer;
    }

    .logo{
        width: 100px;
        height: 100px;
      }

}