
.container>h1 {
    padding: 2.9375rem 15.525rem;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
}

.sections {
    margin-top: 2rem;
    display: flex;
    gap: 25px;

    border-radius: 20px;
    background-color: var(--white);
}

.sections>section {
    padding: 46px;
    border-radius: 20px;
    background-color: var(--yellow-10);
}
