.container {

    padding: 2.9375rem 3.625rem;
    margin-top: 7rem;

    border-radius: 20px;
    background-color: var(--white);
    box-shadow: 4px 4px 50px 4px #00000026;
}

.title>h3 {
    color: var(--first-blue);
    font-size: 28px;
    font-weight: 700;
    line-height: 20px;
}

.title>p {
    font-size: 20px;
    font-weight: 400;
    color: var(--gray);
    margin-top: 7px;
}

.search {
    display: flex;
    gap: 9rem;
    margin-top: 25px;
    
    border-bottom: solid 1px var(--gray-10);

}

.search>input {
    border: none !important;
    outline: none;
    font-size: 17px;
}

.search>input::placeholder {
    color: var(--search);
    font-size: 14px;
    font-weight: 400;
}

.search>input:focus::-webkit-input-placeholder {
    opacity: 0.5;
}


.searchBtn {
    border: none;
    background-color: transparent !important;
    cursor: pointer;
    color: var(--gray-10);
    
  }

  .IconButton:disabled{
    cursor: not-allowed;
    opacity: 0.5;
}
