:root{
  --first-blue: #005BAA;
  --second-blue: #011E4B;
  --third-blue: #D6E7F4;
  --fourth-blue: #2F3746;
  --text-table: #06233D;
  --danger: #AD1212;
  --danger-50: #FFE5E5;
  --danger-10: #FD00001A;
  --yellow: #FFCC02;
  --yellow-50: #FFFAE5;
  --yellow-10:#FDCD001A;

  --white: #FFFFFF;
  --white-50: #FBFBFB;
  --gray: #6C737F;
  --gray-50: #E5E7EB;
  --gray-10: #06233D1A;
  --numbers: #12162B;
  --search: #ACB1C6;
  --background: #E7E7E7;
  --backgroud-danger: #bd20203d;
  --first-blue-blur: #005baad5;
  --backgroud-icon: #005baa42;
  --text-fatura: #003B6B;
  --background-table: #F3F3F3;
  --font-status-aberto: #4E4E4E;

}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  background-color: var(--background);
}

  
@media (max-width: 1025px) {
  body {
    gap: 0;
  }
}





