/* .container{
    display: flex;
    align-items: center;
    justify-content: center;
} */

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9rem;
    margin-top: 25px;
    border-bottom: solid 1px var(--gray-10);
}

.search>input {
    border: none !important;
    outline: none;
    font-size: 17px;
}

.search>input::placeholder {
    color: var(--search);
    font-size: 14px;
    font-weight: 400;
}

.search>input:focus::-webkit-input-placeholder {
    opacity: 0.5;
}


.searchBtn {
    border: none;
    background-color: transparent !important;
    cursor: pointer;
    color: var(--gray-10);
    
  }

  .IconButton:disabled{
    cursor: not-allowed;
    opacity: 0.5;
}

.graphic{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1025px){
    .search{
        width: 100%;
        gap: 6rem;
    }
}